
//colors
$primary: #527AAD;
$light-white: #ffffff;

*{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.login_content{
    align-items: center;
    background-color: $primary;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.login_content div{
    background-color: #ffffff;
    color: $primary;
    font-size: 25px;
    padding: 16px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.25);
    border-radius: 0.3rem;
}

.form_login{
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    height: 130px;
    margin-top: 5px;
}

.input_login{
    width: 300px;
    margin: 0;
    height: 35px;
    padding: 5px 3px;
    box-sizing: border-box;
}

.form_login button{
    width: 100%;
    height: 35px;
    background-color: $primary;
    color: white;
}