@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

//colors
$primary: #527aad;
$light-white: #ffffff;
$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;

* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  input:focus {
    outline: none;
  }
}

html,
body {
  background-color: $primary;
  width: 100vw;
  height: 100vh;
}

.bold {
  font-weight: bold;
}

.login_content {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.form-login {
  background-color: #f7f3f3;
  color: $primary;
  padding: 16px;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.25);
  border-radius: 0.3rem;
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
}

.google-btn {
  cursor: pointer;
  margin-top: 18px;
  width: 100%;
  height: 45px;
  background-color: $google-blue;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  color: white;
  align-items: center;
  border: 1px $primary solid;
  transition: box-shadow 0.3s ease;

  &:hover {
    background-color: white;
    color: $google-blue;
  }

  &:active {
    background-color: $google-blue;
    color: white;
  }
}

.google-icon-wrapper {
  background-color: white;
  height: 100%;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: $google-blue solid 1px;
}

.google-icon {
  height: 35px;
  width: 40px;
}

.text-content {
  width: 65%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.facebook-icon {
  height: 35px;
  width: 35px;
}

.text-content-facebook {
  width: 68%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@import './searchScreen.scss';
@import './searchhistory.scss';
