.nav_home {
  display: flex;
  width: 100vw;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 60px;
  padding: 0 20px;
  position: fixed;
}

a {
  padding-right: 15px;
  text-decoration: none;
  color: $primary;
  box-sizing: border-box;
}

a:hover {
  font-weight: bold;
}

button {
  padding: 8px;
  background-color: $primary;
  border: none;
  color: white;
}

.div_input {
  padding-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
}

input {
  width: 80%;
  height: 40px;
  border-radius: 0.3rem;
  border: none;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 10px;
}

input::placeholder {
  background-image: url(../lupa.png);
  background-size: 19px 18px;
  background-repeat: no-repeat;
  background-position: right center;
  font-size: 14px;
}
